*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #000;
}
.map{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map>svg{
  width: 100%;
  height: auto;
}
#countdown{
  position: fixed;
  bottom: 100px;
  right: 200px;
  font-size: 25px;
}